temp.npy
filename.avi
HighAccuracyPreset.json
archs/*
data/*
models/*
results/*
rospy_tutorials/*
script/*
*.pyc
scripts/listener.py
.gitignore
scripts/talker.py
__pycache__/*
CMakeLists.txt

outputfile.txt
outputfile
measurements.txt
